
.headerPage{
    height: 900px;
    background-image: url(../../img/bgc.jpg);
}

.header{
    
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    padding: 20px 0 20px 0 !important;
    margin: 0 405px;
    font-size: 13px;
    border-bottom: 1px solid white !important;
}

