.App {
  margin: 0;
  font-family: "montserrat",
  sans-serif;
  line-height: 1.6;
  max-width: 1920px;
  height: 100vh;
}
  *,
  *:before,
  *:after {
      box-sizing: border-box;
  }
   h1, h2, h3, h4, h5, h6{
       margin: 0;
   }
   p{
       margin: 0;
   }




